[filter "lfs"]
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
 [pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
 [core]
    excludesfile = ~/.gitignore_global        
